body {
    padding: 0;
    margin: 0;
    background-image: url("https://vignette.wikia.nocookie.net/stcoc/images/5/50/Wiki-background/revision/latest?cb=20180306173846&path-prefix=ru");
    background-size: cover;
}

.center-block {
    min-height: 100vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.step-page {
    min-height: 100vh !important;
    display: flex;
    padding-top: 10px;
    color: #f0f0f0;
    background-color: rgb(68, 67, 69, 0.5);
    padding-top: 10px;
    padding-bottom: 10px;
}

.history-page {
    min-height: 100vh !important;
    display: flex;
    padding-top: 10px;
    color: #000;
    background-color: rgb(68, 67, 69, 0.5);
    padding-top: 10px;
    padding-bottom: 10px;
}

.contant {
    margin-top: 10px;
}

#list_users {
    color: #000;
    font-weight: bold;
}

.title-list-user {
    margin-top: 15px;
    text-align: center;
    color: #f5f8f6;
}

.button_step {
    width: 100%;
    margin-top: 15px;
}

.history-button {
    margin-bottom: 20px;
}